mixin addBlockType(title="Body", text="text")
  .title-block__body
    .title-block__type-body
      if title == "Body"
        p #{title}
      else
        #{title} #{title}
    .title-block__title-body
      if title == "Body"
        p #{text}
      else
        #{title} #{text}