-
  var colorArr = [
    {
      color: "#1F2041",
      title: "Dark Shade 100%",
      css: "dark-100"
    },
    {
      color: "#1F2041",
      title: "Dark Shade 75%",
      css: "dark-75"
    },
    {
      color: "#1F2041",
      title: "Dark Shade 50%",
      css: "dark-50"
    },
    {
      color: "#1F2041",
      title: "Dark Shade 25%",
      css: "dark-25"
    },
    {
      color: "#1F2041",
      title: "Dark Shade 5%",
      css: "dark-5"
    },
    {
      color: "#BC9CFF",
      title: "Purple",
      css: "purple"
    },
    {
      color: "#6FCF97",
      title: "Green",
      css: "green"
    }
  ]

  var typeArr = [
    {
      title: "H1",
      text: "This one is the sub-section or widget title"
    },
    {
      title: "H2",
      text: "Next one is the item title inside widgets"
    },
    {
      title: "H3",
      text: "This is a label or CTA text"
    },
    {
      title: "body",
      text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."
    }
  ]

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .typography
      .container
        .typography__body
          .typography__color
            each color in colorArr
              .typography__color-item
                div(class=`typography__block-color block-${color.css}`)
                .typography__body-color
                  h2.typography__title-color #{color.title} <span>#{color.color}</span>
          .typography__type
            each type in typeArr
              .typography__type-item
                p.typography__title-type #{type.title}
                if type.title === 'body'
                  p.typography__text-type #{type.text}
                else
                  #{type.title}.typography__text-type #{type.text}