mixin addTextField(type="text", value="", placeholder="Text", cssClass="", title="Text Field", defText="Default", name="", modify=[])
  - var modCss = ""
  if modify != []
    each item in modify
      if item == "focused"
        - modCss = modCss + " text-field__input_focused"
  .text-field(class=cssClass)
    .text-field__body
      .text-field__label
        h3.text-field__title #{title}
        h3.text-field__text #{defText}
      input.text-field__input(type=type placeholder=placeholder value=value class=modCss name=name)
